body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: blanchedalmond;
}

nav{
    font-size: 1em;
    margin-left: 20px;
}

nav a{
    color: honeydew;
}